.products{
    width: 100%;
    height: 120vh;
    display: flex;
}
.Products2{
    width: 100%;
    height: 230vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products3{
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}
.products3 a{
    width: 120px;
    height: 40px;
    font-size: 15px;
    border: none;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
    background-color: #1E5EFF;
}
.product_header{
    width: 95%;
    display: flex;
    align-self: center;
}
.products4{
    width: 90%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}
header{
    width: 100%;
}
ul{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}